.button
	&.-buy
		color: white
		cursor: pointer
		border-bottom: 2.5px solid #e06362
		padding-bottom: 10px
		position: relative
		text-transform: uppercase
		width: 7vw
		border-radius: 1px
		margin-left: 2vw