i
	padding-left: 20px
	align-items: center

.navbar
	display: flex
	color: rgba(255,255,255,0.7)
	height: 10vh
	width: 75vw
	align-items: flex-end

.left
	justify-content: flex-start

.right
	display: flex
	width: 100%
	justify-content: flex-end

.routes
	display: flex
	a
		margin: 0 1.5vw

		&:hover
			border-bottom: 1px solid grey

.searchbox
	background-color: transparent
	height: 20px
	margin: 0 10px
	border-radius: 20px
	&::placeholder
		padding-left: 10px