.slider
	display: flex
	height: 65vh

	&__description
		float: left

	&__left
		width: 12vw

	&__right
		display: flex
		width: 68vw

		&.-text
			height: 100%
			width: 29vw
			flex-direction: column

			h1
				align-items: center
				height: 25vh
				display: flex
				font-weight: 200
				font-family: Lato
				font-size: 90px

			p
				color: #afafaf
				word-spacing: 6px
				font-size: 16.2px
				font-weight: 400
				line-height: 25px
				padding-left: 2vw
				border-left: 1px solid #cccccc

			.p-border
				height: 18vh
				display: flex
				align-items: flex-start

		&.-photos
			justify-content: center
			align-items: center
			width: 34vw

			img
				height: 35vh
				width: 40vw

.triangle
	width: 0
	height: 0
	position: absolute
	right: 0px
	border-top: 7px solid white
	border-left: 7px solid transparent

.background-text
	position: absolute
	right: 0
	margin-right: -30px
	font-size: 19em
	font-weight: 100
	color: #585858
	z-index: -1