<div class='slider__left'>
</div>

<div class="slider__right">

	<div class='slider__right -text'>
		<h1>
			There's beauty in simplicity
		</h1>

		<div class="p-border">
			<p>
				Characteristic german design, quality and engineering prowess bolster Braun's standing against cheaply produced competing products
			</p>
		</div>
		
		<div class='button -buy uppercase'> 
			Buy now 
			<span class='triangle'></span>
		</div>
	</div>

	<div class='slider__right -photos'>
		<img src='https://www.ooma.com/wp-content/themes/ooma/images/smart-cam/index/camera-sm.png'>
	</div>
</div>

<span class='background-text'> SB47 </span>