<div class="products-container">
	<div class="card">
		<div class='card -title uppercase'> Watches </div>
		<div class="card -description">
			The Braun watch collection has been created as a true representation of quality, clarity, longevity and timelessness.
		</div>
		<div class="card -details">
			...
		</div>
	</div>

	<div class="card">
		<div class='card -title uppercase'> Health </div>
		<div class="card -description">
			Get the latest advice for a happy, healthy life for you and your family, from Braun Healthcare. Award winning fever thermometers.
		</div>
		<div class="card -details">
			...
		</div>
	</div>

	<div class="card">
		<div class='card -title -black uppercase'> Kitchen </div>
		<div class="card -description">
			Turn Over a New Leaf Conquer the expected this New Year with creative ways to get healthy and eat your veggies.
		</div>
		<div class="card -learn-more uppercase">
			<hr>
			<a> Learn more </a>
		</div>
	</div>
</div>