<div class="left">
	<img src='https://www2.braunhousehold.com/~1485503353/globalassets/braun-logo.svg' alt='logo' height="35">
</div>

<div class="right">
	<div class='routes'>
		<a> Products </a>
		<a> Offers </a>
		<a> Services </a>
	</div>

	<input type='text' class='searchbox' placeholder='How can we help?'>

	<i class="fas fa-shopping-bag"></i>
</div>